node_modules/
/bash/
/.github/
/.agent/
/playwright*
/pl.sh
/package.dev.json
/package-lock*
/html/
/custom/
*.md
/pw.sh
*.tgz
/xx.cjs
/transpile.sh
.env*
server.ts
server.js
/.prettierignore
/PLAN.md
/.vscode/
/.tool-versions
/README.md
/es.ts
/import-map.js
/js/*
!/js/*.js
/select.*
*.e2e.*
prettier.config.ts
/select_previous.ts
/render.ts
/produceRender.ts
/options.json
*.html
/links.sh
/*.ts
/___try/
/composition/*
!/composition/**/*.css
/tsconfig.*
*.sh
**/*.html.js
**/*.html.ts
**/*.html.d.ts
**/*urlManager*
**/*namesSource*
**/*list-up-down-navi*
vite-project/
*.ts
!*.d.ts
morph.js
import-map.js
radio.js
loader.js

# uncommment for vite testing
# *.png
# img.json
